
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none; /*chữ mặc định*/
    text-transform: capitalize; /*viết hoa đầu*/
    transition: all .2s linear;
}
html{
    font-size: 65%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar-track{ /*không gian trống bên dưới thanh tiến trình.*/
    background: transparent;
}
html::-webkit-scroll
{
    width: 1rem ;
}
html::-webkit-scrollbar-thumb{
    background: red;
}
/*-----------------------------------*\
#HEADER
\*-----------------------------------*/
section{
    padding: 3rem 9%;
}
.heading{
    text-align: center;
    color: black;
    margin-bottom: 3rem;
    font-size: 4rem;
}
.header{
    position: fixed; /*nằm cố định trên màn hình*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(200, 192, 192);
    display: flex; /*1 dòng*/
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    box-shadow: 0 5px 10px rgb(125, 124, 124);
    position: sticky;
}
.header .icons{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i{
    color: rgb(143, 41, 238);
    font-size: 1.5rem;
}
.header a{
    color: black;
    margin: 0 1.5rem;
    font-size: 1.7rem;
}
.header a:hover{
    color: rgb(249, 130, 150);
}

.header .icons div,
.header .icons i{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    background: rgb(204, 199, 199);
    border-radius: 4rem;
    color: #222;
    margin-left: 5px;
    text-align: center;
    cursor: pointer;
    /* display: inline; */
}
/* .header .icons i{
    color: rgb(235, 85, 100);
} */
.header .icons div:hover,
.header .icons i:hover{
    background: rgb(231, 239, 239);
    color: rgb(245, 148, 239);
}
.header #menu-btn{
    display: none;
}
/*-----------------------------------*\
#RESPONSIVE
\*-----------------------------------*/
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2.5rem;
    }
}
@media (max-width: 768px){
   .header #menu-btn{
    display: inline-block;
   }
   .header .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    border-top:0.2rem solid black ;
    border-bottom:0.2rem solid black ;
    padding: 0.2rem;
    clip-path: polygon(0 0,100% 0,100% 0, 0 0); 
   }
   .header .navbar.active{
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
   
   }
   .header .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 1rem;
   }
}

@media (max-width: 450px){
}